a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.eqrs-staging-criteria {
  border: 1px lightgrey solid;
  background-color: mintcream;
  border-radius: 10px;
}
.cursor-pointer {
  cursor: pointer;
}
.border-right {
  border-right: 1px solid lightgrey;
}
.text-color-header {
  color: #0071bc;
}
.que-cir-position {
  top: 0px;
  left: .2em;
  font-size: 20px;
  color: #0071BB;
}
.icon-size {
  font-size: 23px;
  padding-top: 0.05em;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .w-auth-batch {
    flex: 0 0 33%;
    max-width: 100%;
  }
  .w-label-auth {
    max-width: 100%;
  }
  .m-pri-owner {
    margin-top: 1.5rem;
  }
  .resp-margin {
    margin-top: 28px;
  }
}
.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}
.dark-modal .close {
  color: white;
}
.light-blue-backdrop {
  background-color: #5cb3fd;
}
.m-bottom {
  margin-bottom: 8px;
}
div .hover-bg-color :hover {
  background-color: rgb(238,238,238) !important;
}
hr {
  margin-top: 0;
}
h4 {
  margin-bottom: 8px;
}
.clear-all-color {
  color: #0071BB;
}
.mat-autocomplete-panel {
  width: 100% !important;
}
.p-1.w-100 {
  margin-right: 200px;
}
.p-1.w-100:hover {
  background-color: #e7e7e7;
}
.border-bottom-hr {
  border-bottom: 1px #cccccc solid;
}

@mixin select {
  border: 1px solid #d6d7d9;
  border-radius: 3px;
  height: 44px;
  background-color: #fff;

  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 0.6rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  padding-right: 30px;

&::-ms-expand {
   display: none;
 }

&:focus {
   outline: none;
   box-shadow: 0 0 3px #3e94cf, 0 0 7px #3e94cf;
 }

&:hover {
   cursor: pointer;
 }

&:disabled {
   background-color: #d6d7d9;
   color: #323a45;
   cursor: not-allowed;

&:hover {
   cursor: not-allowed;
 }
}
}


.eqrs-select {
@include select;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px 5px 10px;
  white-space: normal;
}

.flex-container > p {
  width: auto;
}

p {
  word-break: keep-all;
  margin-bottom: 0;
}

